/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// kv
// 首頁輪播
.kv {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    overflow: hidden;
    background: #000;
    @include screen('tablet') {
        height: auto;
        min-height: auto;
    }
}
.mpSlider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include gutter(0);
    @include screen('tablet') {
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100px;
            left: 0;
            top: 0;
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            z-index: 3;
            pointer-events: none;
        }
    }
    .slick-prev,
    .slick-next {
        top: auto;
        width: 60px !important;
        height: 60px !important;
        border-radius: 50%;
        border: 1px solid rgba(255, 255, 255, 0.75);
        bottom: 10% !important;
        &:hover,
        &:focus {
            border: 1px solid #fff;
            box-shadow: none;
        }
    }
    .slick-prev {
        left: 50px;
        background: url('../images/slick/icon_arrow_left.png') center center no-repeat RGBA(0, 0, 0, 0);
        background-size: 30px 30px;
        @include screen('mobile') {
            left: 5%;
        }
    }
    .slick-next {
        left: 130px;
        background: url('../images/slick/icon_arrow_right.png') center center no-repeat RGBA(0, 0, 0, 0);
        background-size: 30px 30px;
        @include screen('mobile') {
            left: 20%;
        }
        @include screen('xs_mobile') {
            left: 24%;
        }
    }
    .img-container {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        &:before {
            width: 100%;
            padding-top: 100%;
        }
        &:after {
            position: absolute;
            content: '';
            pointer-events: none;
            background: rgba(6, 20, 31, 0.4);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
        }
        @include screen('xs_mobile') {
            @include aspect-ratio(4, 5);
        }
    }
    .slick-current {
        .img_layer {
            opacity: 1;
            animation: fadeInLeft 1.5s 1.5s both $cubic;
        }
    }

    .slick-slide {
        overflow: hidden;
        position: relative;
        .img_layer {
            position: absolute;
            width: 45%;
            min-width: 450px;
            left: 50px;
            top: auto;
            bottom: 62%;
            z-index: 3;
            opacity: 0;
            display: flex;
            flex-flow: row wrap;
            align-content: flex-start;
            color: #fff;
            @include screen('notebook') {
                width: 45%;
                bottom: 58%;
            }
            @include screen('tablet') {
                bottom: 30%;
            }
            @include screen('mobile') {
                min-width: 0px;
                width: 90%;
                left: 5%;
                bottom: 30%;
            }
            &:before {
                content: '';
                position: absolute;
                width: 50%;
                height: 2px;
                background: #fff;
                top: -10%;
                left: 0;
            }

            img {
                object-fit: contain;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            h2 {
                color: #fff;
                display: block;
                width: 100%;
                font-family: 'Noto Serif TC', serif;
                margin: 0 auto 0.25em 0;
                text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.85), 0px 0px 7px rgba(0, 0, 0, 0.85),
                    0px 0px 10px rgba(0, 0, 0, 0.75);
                font-size: 3.6em;
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 100%;
                text-align: left;
                height: auto;
                @include screen('notebook') {
                    font-size: 3em;
                }
                @include screen('mobile') {
                    font-size: 2em;
                }
            }
            p {
                color: #fff;
                display: block;
                width: 100%;
                margin: 0 auto 0.5em 0;
                text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.85), 0px 0px 5px rgba(0, 0, 0, 0.85),
                    0px 0px 8px rgba(0, 0, 0, 0.75);
                @include text-line(4, 1.5em);
                flex-grow: 0;
                flex-shrink: 1;
                flex-basis: 90%;
                text-align: left;
                font-size: 0.938em;
                margin-bottom: 2em;
            }
            .more {
                position: relative;
                padding-left: 3em;
                font-size: 1.25em;
                text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.85), 0px 0px 8px rgba(0, 0, 0, 0.75);
                &:before {
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 2px;
                    background: #fff;
                    left: 0;
                    top: 0.6em;
                }
                @include screen('mobile') {
                    font-size: 1em;
                }
            }
        }
        img {
            object-fit: cover;
            transition: transform 10s ease-out 0.5s;
            transform: scale(1);
        }
        &.slick-current {
            picture img {
                transform: scale(1.25);
            }
        }
        &.slick-current.start picture img {
            transition: transform 0s 0s;
            transform: scale(1);
        }
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        left: 0;
    }
    to {
        opacity: 1;
        left: 50px;
    }
}

// 最新消息
.news {
    min-height: 34em;
    padding: 2em 0;
    position: relative;
    z-index: 3;
    background: url(../images/news_bg.jpg) no-repeat left bottom #f4f4f4;
    .container {
        max-width: 100%;
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: 2;
        margin-top: -5em;
        @include screen('mobile') {
            margin-top: 0;
        }
    }
    .tabSet {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(70% + 3px);
        margin: 0 0 0 auto;
        background: #fff;
        position: relative;
        padding: 4em 5em 2em;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px,
            rgba(17, 17, 26, 0.1) 0px 16px 48px;
        @include screen('tablet') {
            padding: 2em 1em;
        }
        @include screen('mobile') {
            flex-basis: 90%;
            margin: 0 auto;
        }
        .tabs {
            max-width: 50em;
            margin: 0 auto 0 0;
            position: relative;
            z-index: 2;
        }
        .tabContent {
            ul {
                padding: 2em 0 1em;
                @include screen('mobile') {
                    padding: 0;
                }
                li {
                    display: flex;
                    align-items: center;
                    position: relative;
                    padding-right: 120px;
                    padding-left: 0.5em;

                    @include screen('mobile') {
                        flex-flow: row wrap;
                        justify-content: flex-start;
                        padding: 0;
                    }
                    time {
                        margin-right: 1em;
                        flex-grow: 0;
                        flex-shrink: 1;
                        flex-basis: 80px;
                        order: 1;
                    }
                    .dept {
                        position: absolute;
                        top: 0.75em;
                        right: 0.5em;
                        text-align: center;
                        font-size: 0.813rem;
                        padding: 0 0.5em;
                        color: #333;
                        width: 100px;
                        background: #eee;
                        @include text-overflow;
                        @include screen('mobile') {
                            position: relative;
                            flex-grow: 0;
                            flex-shrink: 1;
                            flex-basis: auto;
                            order: 2;
                            top: 0.15em;
                        }
                    }
                    a {
                        display: block;
                        flex-grow: 1;
                        flex-shrink: 1;
                        flex-basis: 30%;
                        font-weight: bold;
                        padding: 0.25em 0.5em;
                        font-size: 1.25em;
                        color: darken($primaryColor, 15);
                        @include text-overflow;
                        &:before {
                            transition: 0.3s $cubic;
                            position: absolute;
                            content: '';
                            left: 0.25em;
                            top: 1em;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 3px 0 3px 4px;
                            border-color: transparent transparent transparent #888;
                            @include screen('mobile') {
                                display: none;
                            }
                        }
                        &:hover,
                        &:focus {
                            color: darken($primaryColor, 0);
                            &:before {
                                border-style: solid;
                                border-width: 3px 0 3px 4px;
                                border-color: transparent transparent transparent $primaryColor;
                            }
                        }
                        @include screen('mobile') {
                            flex-basis: 100%;
                            order: 3;
                            padding-left: 0.6em;
                        }
                    }
                }
            }
        }
        .leaf_bg {
            width: 50%;
            height: 100%;
            position: absolute;
            right: -10%;
            top: 0;
            background: url(../images/leaf.jpg) no-repeat left center;
            pointer-events: none;
            z-index: 0;
            @include screen('tablet') {
                display: none;
            }
        }
    }
    .news_bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}
// magazine
.magazine {
    background: #363332;
    position: relative;
    padding: 5em 0;
    overflow: hidden;
    .left_bg {
        position: absolute;
        background: url(../images/mag_bg.png) no-repeat left center;
        background-size: contain;
        left: 0%;
        bottom: 10%;
        width: 40%;
        height: 60%;
        @include screen('tablet') {
            display: none;
        }
    }
    .right_bg {
        position: absolute;
        background: url(../images/mag_bg_right.png) no-repeat left center;
        background-size: contain;
        right: -15%;
        top: 10%;
        width: 40%;
        height: 60%;
        @include screen('tablet') {
            display: none;
        }
    }
    .container {
        display: flex;
        justify-content: flex-end;
        @include gutter;
        @include screen('tablet') {
            flex-flow: row wrap;
        }
        .td_logo {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: auto;
            position: relative;
            z-index: 2;
            img {
                max-width: 300px;
                @media screen and (max-width: 1100px) {
                    max-width: 220px;
                }
            }
            @include screen('tablet') {
                flex-basis: 100%;
                text-align: center;
            }
        }
        .mag_grid {
            position: relative;
            z-index: 2;
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 70%;
            @media screen and (max-width: 1100px) {
                flex-basis: 85%;
            }
            @include screen('tablet') {
                width: 94%;
                margin: 0 auto;
            }
            h3 {
                margin: 0.5em 0 0.5em 0;
                line-height: 1.65;
                color: #222;
                font-size: 1.25em;
                @include text-line(2, 1.45em);
                @include screen('xs_mobile') {
                    font-size: 1.125rem !important;
                    @include text-line(3, 1.45em);
                }
            }
            p {
                color: #888;
                font-size: 0.875rem;
                @include screen('xs_mobile') {
                    display: none !important;
                }
            }
            a {
                &:hover,
                &:focus {
                    h3 {
                        color: $aHover;
                    }
                }
            }
            .row_top {
                display: flex;
                @include screen('tablet') {
                    display: flex;
                    flex-flow: row wrap;
                }
                .cover {
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: 35%;
                    min-width: 320px;
                    margin: 0 0.5em 0.5em 0;
                    position: relative;
                    @include screen('tablet') {
                        flex-basis: 100%;
                        background: transparent;
                        height: auto;
                        margin: 0 0 0.5em;
                    }
                    a {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        @include screen('tablet') {
                            @include aspect-ratio(3, 4);
                            margin: 0 auto 1em;
                            min-width: 280px;
                            max-width: 360px;
                            position: relative;
                            transform: scale(0.8);
                        }
                        .pic {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                .content_list {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 50%;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: stretch;
                    @include screen('tablet') {
                        flex-basis: 100%;
                    }
                    .block {
                        display: block;
                        margin-bottom: 0.5em;
                        background: #fff;
                        padding-right: 1em;
                        overflow: hidden;
                        width: 100%;
                        &.right {
                            padding-left: 0.5em;
                            padding-right: 0;
                            @include screen('tablet') {
                                padding-left: 0;
                                padding-right: 0.5em;
                            }
                            a {
                                .pic {
                                    margin: 0 0 0 0.5em;
                                    order: 2;
                                    @include screen('tablet') {
                                        order: 0;
                                        margin: 0 0.5em 0 0;
                                    }
                                }
                            }
                        }
                        a {
                            display: flex;
                            align-content: stretch;
                            margin: 0;
                            .pic {
                                flex-grow: 0;
                                flex-shrink: 1;
                                flex-basis: 210px;
                                margin: 0 0.5em 0 0;
                                @include aspect-ratio(1, 1);
                                position: relative;
                                @include screen('tablet') {
                                    position: relative;
                                    flex-basis: 190px;
                                    margin: 0 0.5em 0 0;
                                }
                                @include screen('xs_mobile') {
                                    flex-basis: 120px;
                                }
                                img {
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                            .text {
                                flex-grow: 1;
                                flex-shrink: 1;
                                flex-basis: 100px;
                                padding: 1em;
                                @include screen('xs_mobile') {
                                    padding: 0.5em;
                                }
                                p {
                                    @include text-line(4, 1.45em);
                                }
                            }
                        }
                    }
                }
            }
            .row_bottom {
                display: flex;
                flex-flow: row wrap;
                .block {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 45%;
                    display: block;
                    background: #fff;
                    padding-right: 1em;
                    overflow: hidden;
                    margin-right: 0.5em;
                    @include screen('tablet') {
                        flex-basis: 100%;
                        margin: 0 0 0.5em 0;
                    }
                    &.right {
                        padding-left: 0em;
                        padding-right: 0.5em;
                        margin-right: 0;
                        margin-bottom: 0.5em;
                        a {
                            .pic {
                                margin: 0 0.5em 0 0;
                                order: 0;
                            }
                        }
                    }
                    &.left {
                        flex-grow: 0;
                        flex-shrink: 1;
                        flex-basis: 35%;
                        min-width: 320px;
                        margin: 0 0.5em 0.5em 0;
                        position: relative;
                        padding: 0;
                        @include screen('tablet') {
                            flex-basis: 100%;
                            margin: 0 0 0.5em 0;
                            padding-right: 0.5em;
                        }
                        a {
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            &:hover,
                            &:focus {
                                .pic {
                                    &:after {
                                        background: rgba(0, 0, 0, 0.45);
                                    }
                                }
                                .text {
                                    @include screen('tablet') {
                                        h3 {
                                            color: $aHover;
                                        }
                                    }
                                }
                            }
                            @include screen('tablet') {
                                position: relative;
                                display: flex;
                            }
                            .pic {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                left: 0;
                                top: 0;
                                margin: 0;
                                @include screen('tablet') {
                                    position: relative;
                                    flex-basis: 190px;
                                    @include aspect-ratio(1, 1);
                                    margin: 0 0.5em 0 0;
                                    transform: scale(1);
                                }
                                @include screen('xs_mobile') {
                                    flex-basis: 120px;
                                }
                                &:after {
                                    content: '';
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background: rgba(0, 0, 0, 0.25);
                                    top: 0;
                                    left: 0;
                                    z-index: 1;
                                    transition: 0.3s ease-out;
                                }
                            }
                            .text {
                                position: absolute;
                                z-index: 2;
                                width: 100%;
                                height: 100%;
                                padding: 1em;
                                @include screen('tablet') {
                                    position: relative;
                                    padding: 1em;
                                }
                                @include screen('xs_mobile') {
                                    padding: 0.5em;
                                }
                                h3,
                                p {
                                    color: #fff;
                                    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.85);
                                    @include screen('tablet') {
                                        color: #555;
                                        text-shadow: none;
                                    }
                                }
                                h3 {
                                    @include text-line(2, 1.45em);
                                    @include screen('tablet') {
                                        color: #222;
                                    }
                                    @include screen('xs_mobile') {
                                        @include text-line(3, 1.45em);
                                    }
                                }
                            }
                        }
                    }
                    a {
                        display: flex;
                        align-content: stretch;
                        margin: 0;
                        .pic {
                            flex-grow: 0;
                            flex-shrink: 1;
                            flex-basis: 210px;
                            margin: 0 0.5em 0 0;
                            position: relative;
                            @include screen('tablet') {
                                flex-basis: 190px;
                                transform: scale(1);
                            }
                            @include screen('xs_mobile') {
                                flex-basis: 120px;
                                @include aspect-ratio(1, 1);
                                align-self: flex-start;
                            }
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .text {
                            flex-grow: 1;
                            flex-shrink: 1;
                            flex-basis: 100px;
                            padding: 1em;
                            @include screen('xs_mobile') {
                                padding: 0.5em;
                            }
                            p {
                                @include text-line(4, 1.45em);
                            }
                        }
                    }
                }
            }
        }
    }
}
// hotel
.hotel {
    padding: 3em 0;
    @include screen('mobile') {
        padding: 2em 0;
    }
    .container {
        display: flex;
        @include gutter;
        @include screen('mobile') {
            flex-flow: row wrap;
        }
    }
    .mellow_pic {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 60%;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        position: relative;
        @include screen('mobile') {
            flex-basis: 100%;
        }
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            @include screen('mobile') {
                position: relative;
            }
            .img-container {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                @include screen('mobile') {
                    position: relative;
                }
                img {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 0;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .mellow_info {
        background: #f1f1f1;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        padding: 2em;
        font-size: 0.938rem;
        color: #433222;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        @include screen('mobile') {
            text-align: center;
            z-index: 1;
        }
        h3 {
            margin: 0 0 0.5em;
            font-size: 1.5rem;
            line-height: 1.65em;
        }
        p {
            font-size: 0.875rem;
        }
        ul {
            @include li-reset;
            li {
                font-size: 0.875rem;
            }
            i {
                margin-right: 0.5em;
                opacity: 0.75;
            }
        }
    }
}
// 連結
.link {
    min-height: 30em;
    padding: 8em 0 10em;
    position: relative;
    overflow: hidden;
    @include screen('xs_mobile') {
        min-height: 20em;
        padding: 4em 0;
    }
    .container {
        @include gutter;
    }
    .bg_img {
        position: absolute;
        width: 100%;
        height: 140%;
        top: -20%;
        left: 0;
        z-index: -1;
        img {
            object-fit: cover;
            transform: scale(1.1);
        }
    }
    ul {
        @include li-reset;
        display: flex;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        @include screen('mobile') {
            flex-flow: row wrap;
        }
        li {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 25%;
            min-height: 22em;
            position: relative;
            @include screen('mobile') {
                flex-grow: 0;
                flex-basis: 50%;
                min-height: 18em;
                border: 1px solid #eee;
            }
            a {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 1em 3em;
                text-align: center;
                @include screen('xs_mobile') {
                    padding: 1em;
                }
                .img-container {
                    width: 90%;
                    margin: 1em auto 2em;
                    border: 1px solid #ddd;
                    @include aspect-ratio(4, 3);
                    background: transparent;
                    img {
                        object-fit: cover;
                    }
                }
                .link_info {
                    position: relative;
                    z-index: 2;
                    h3 {
                        text-align: center;
                        color: #333;
                        position: relative;
                        display: block;
                        font-size: 1.35em;
                        padding-bottom: 0.5em;
                        margin: 0 auto 2em;
                        white-space: nowrap;
                        @include screen('xs_mobile') {
                            font-size: 1.2em;
                            margin: 0 auto 1em;
                        }
                        &:after {
                            position: absolute;
                            content: '';
                            width: 50%;
                            left: 50%;
                            margin-left: -25%;
                            height: 2px;
                            bottom: -2px;
                            background: $primaryColor;
                        }
                    }
                    span {
                        color: #888;
                        font-size: 0.875rem;
                    }
                }
                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: #f5f5f5;
                    transition: all 0.3s $cubic;
                    @include screen('xs_mobile') {
                        display: none;
                    }
                }
                &:hover,
                &:focus {
                    z-index: 2;
                    &:before {
                        background: #fff;
                        box-shadow: rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
                            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                        transform: scale(1.1);
                        transition: all 0.3s $cubic;
                    }
                }
            }
        }
    }
}

// more按鈕
a.more {
    display: block;
    width: 10em;
    text-align: center;
    height: 2.5em;
    margin: 0.5em auto 0.5em;
    line-height: 2.5;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    &:after {
        content: '';
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        transform: rotate(45deg);
        position: absolute;
        right: -10px;
        top: 12px;
        border-left: none;
        border-bottom: none;
        transition: 0.3s ease-out;
    }
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $primaryColor;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover,
    &:focus,
    &.active {
        color: white;
        &:before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        &:after {
            right: 15px;
        }
    }
}

// 範例：
.demosection {
    [class^='col'] {
        border: 2px solid #fff;
        background: #dedede;
    }
}
// 廣告輪播
.adSlider {
    @include gutter(70px);
    margin-bottom: 20px;
    @include screen('mobile') {
        @include gutter();
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
        background-size: 80%;
        left: -15px;
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
        background-size: 80%;
        right: -15px;
    }
    .img-container {
        width: 165px;
        height: 55px;
        margin: 0px 15px;
        a {
            display: block;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        &:focus {
            &:before {
                content: '';
                position: absolute;
                z-index: 9;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-shadow: 0 0px 0px 3px $primaryColor inset;
            }
        }
    }
}
.cooperation {
    padding: 2em 0;
    h2 {
        font-size: 2.5em;
        text-align: center;
        max-width: 800px;
        margin: 0 auto 1em;
        display: block;
        position: relative;
        &:after {
            position: absolute;
            content: '';
            width: 100px;
            height: 4px;
            background: $primaryColor;
            left: 50%;
            margin-left: -50px;
            bottom: -10px;
        }
    }
    .cooperationSlider {
        margin: 0 5em 3em;
        @include screen('xs_mobile') {
            margin: 0 1em;
        }
        .img-container {
            padding: 0 1em;
            background: none;
            @include aspect-ratio(4, 3);
            a {
                position: absolute;
                width: 90%;
                left: 5%;
                overflow: hidden;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                }
                &:hover,
                &:focus {
                    .caption {
                        transform: scale(1);
                        opacity: 1;
                    }
                }
                .caption {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    top: 0;
                    left: 0;
                    padding: 2em;
                    background: rgba(0, 0, 0, 0.55);
                    opacity: 0;
                    transform: scale(1.3);
                    transition: 0.5s $cubic;
                    i {
                        font-size: 2em;
                        margin: 1em auto;
                    }
                    h3 {
                        color: #fff;
                        width: 100%;
                        margin: 0 auto;
                        text-align: center;
                        @include text-overflow;
                        height: 3em;
                    }
                }
            }
        }
        .slick-prev,
        .slick-next {
            top: auto;
            width: 60px !important;
            height: 60px !important;
            border-radius: 50%;
            background: url('../images/slick/icon_arrow_left_inverse.png') center center no-repeat
                RGBA(255, 255, 255, 1);
            background-size: 30px 30px;
            border: 1px solid rgba(255, 255, 255, 0.75);
            top: 40% !important;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            left: -20px !important;
            @include screen('xs_mobile') {
                left: 0px !important;
            }
            &:hover,
            &:focus {
                border: 1px solid #fff;
                box-shadow: none;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
                    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            }
        }
        .slick-next {
            background: url('../images/slick/icon_arrow_right_inverse.png') center center no-repeat
                RGBA(255, 255, 255, 1);
            background-size: 30px 30px;
            left: auto !important;
            right: -20px !important;
            @include screen('xs_mobile') {
                right: 0px !important;
            }
        }
    }
}
// fixed panel
$fixedPanelColor: #4b3e2e;

.fixed_panel {
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    bottom: 80px;
    z-index: 99;
    right: 0;
    width: 18em;
    height: 22.75em;
    background: darken($fixedPanelColor, 5);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 0 0 2.75em;
    transition: 0.6s $cubic;
    &.close {
        right: -18em;
    }
    .toggle_btn {
        position: absolute;
        top: 0;
        left: -3.2em;
        width: 3.2em;
        height: 3.2em;
        background: darken($fixedPanelColor, 0);
        i {
            font-size: 1.5em;
            color: #fff;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
        &:hover,
        &:focus {
            background: lighten($fixedPanelColor, 5);
        }
    }
    .item {
        h3 {
            background: darken($fixedPanelColor, 0);
            margin: 0;
            a {
                color: #fff;
                padding: 0.75em 1em;
                display: flex;
                align-items: center;
                &:hover,
                &:focus {
                    background: lighten($fixedPanelColor, 5);
                    i {
                        opacity: 1;
                    }
                }
                span {
                    flex-grow: 0;
                    flex-shrink: 1;
                    flex-basis: auto;
                }
                i {
                    margin-left: auto;
                    opacity: 0.25;
                }
            }
        }
        &.active {
            .service_list {
                // display: block;
            }
        }
        .service_list {
            display: none;
            height: 13.75em;
            overflow-x: hidden !important;
            overflow-y: auto !important;
            -webkit-overflow-scrolling: touch;
            -webkit-transform: translate3d(0, 0, 0);
            background: darken($fixedPanelColor, 5);
            ul {
                @include li-reset;
                li {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                    a {
                        padding: 1em 1em 1em 3em;
                        display: block;
                        color: lighten($fixedPanelColor, 35);
                        font-size: 0.938rem;
                        position: relative;
                        @include text-overflow;
                        transition: 0.3s ease-out;
                        &:before {
                            transition: 0.3s $cubic;
                            position: absolute;
                            content: '';
                            left: 2em;
                            top: 1.55em;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 3px 0 3px 4px;
                            border-color: transparent transparent transparent #fff;
                            opacity: 0;
                        }
                        &:hover,
                        &:focus {
                            color: #fff;
                            background: darken($fixedPanelColor, 10);
                            &:before {
                                left: 2.25em;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom_function {
        height: 2.75em;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        width: 100%;
        background-color: #f1f1f1;
        i {
            font-size: 1.75em;
            color: #0075fa;
            &:hover,
            &:focus {
                color: #0075fa;
            }
        }
        .fb {
            flex-grow: 0;
            flex-shrink: 1;
            flex-basis: 3em;
            width: 3em;
            padding-top: 0.5rem;
            text-align: center;
            border-right: 1px solid #ddd;
            &:hover,
            &:focus {
                background: #0075fa;
                i {
                    color: #fff;
                }
            }
            a {
                display: block;
            }
        }
        .mail {
            font-size: 0.938rem;
            padding-top: 0.5rem;
            padding-left: 0.5em;
            a {
                display: flex;
                align-items: center;
                color: #666;
                font-size: 0.875rem;
                &:hover,
                &:focus {
                    color: $fixedPanelColor;
                }
                span {
                    display: block;
                }
            }
            i {
                margin-right: 0.25em;
                color: #888;
            }
        }
    }
}
